<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" action="/register" method="post">

					<div>
						<p th:text="${error}"></p>
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" name="nome" placeholder="Nome" required>
					</div>
					<div>
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" name="username" placeholder="Usuário" required>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" name="password" placeholder="Senha" required>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" name="confirmPassword"
							placeholder="Confirme a senha" required>
					</div>
					<button class="button login__submit" type="submit">
						<span class="button__text">Registrar</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				<button class="button login__submit" type="button">
					<a href="/" class="button__link">
						<i class="fas fa-chevron-left"></i>
						Voltar
					</a>
				</button>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
</body>

</html>